# Ignore compiled Python files
*.pyc
__pycache__/
unpaywall_cache

# Ignore virtual environments
.venv/
venv/

# Ignore secrets
.env

# Ignore everything in data
data/*

# Keep the corpus directory itself
!data/corpus/

# Ignore everything inside corpus
data/corpus/*

#Ignore outputs
outputs/

# Ignore uv.lock
uv.lock

# Ignore hdbscan results
hdbscan*
